/* Copyright [2022] [Stijn Beekelaar]  */

/* algemene instellingen webpagina */
body{
    background: blue;
}

/* login scherm */
.spelers th {
    padding: 30px;
    text-shadow: 1px 1px 10px white;
    font-size:x-large;
}
.spelers td {
    padding: 40px;
    transition: 0.5s;
    height: 30px;
}
.spelers td:hover{
    background: rgb(94, 94, 163);
    font-size: 140%;
    cursor: pointer;
}
.spelers td:active{
    font-size: 100%;
}
#persoon1{
    background: yellow;
}
#persoon2{
    background: red;
}
#bevestig{
    bottom: 100px;
    right: 40px;
    position: fixed;
    color: blue;
    border: 0px;
    margin: 20px;
    width: 120px;
    height: 80px;
    border-radius: 5px;
    transition: 0.3s;
}
#bevestig:hover{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    right: 50px;
    bottom: 90px;
    background: rgb(76, 76, 226);
    color:black;
    font-size: 110%;
}
#bevestig:active{
    font-size: 90%;
}

/* headers */
h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 20px white;
}
#gewonnen{
    position: fixed;
    top: 60px;
    left: 600px;
}


/* Speelveld */
table {
    background: blue;
    position: fixed;
    
}
td{
    background: white;
    border: 2px solid blue;
    width: 80px;
    height: 80px;
    border-radius:40px;
    text-align: center;
    color: blue;
    
}


button{
    transition: 0.5s;
}


/* Keuze knoppen */
.keuze{
    background: white;
    border: 0px;
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 5px;
}
.keuze:hover{
    background: rgb(94, 94, 163);
    font-size: 300%;
    color: rgb(41, 0, 0);
    cursor: pointer;
}
.keuze:active{
    font-size: 100%;
}


/* Reset knop */
#reset-knop{
    background: white;
    width: 160px;
    height: 80px;
    border: 0px;
    border-radius: 80px;
    color:blue;
    font-size: larger;
    position: absolute;
    bottom: 50px;
}
#reset-knop:hover{
    font-size: x-large;
}
#reset-knop:active{
    font-size: larger;
}


/* Players */
.players{
    color:white;
    position: absolute;
    bottom: 200px;
    left:50px;
}
#player1{
    border: 0px solid black;
    padding: 20px;
    border-radius: 40px;
}
#player2{
    border: 0px solid black;
    padding: 20px;
    border-radius: 40px;
}


/* paginas */
#spelen{
    visibility: hidden;
    z-index: 9;
    
}
#inloggen{
    visibility: visible;
}

.spelers{
    top: 105px;
    left: 550px;
}
.speelveld{
    top: 130px;
    left: 420px;
    right: 420px;
}